*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: rgb(247, 247, 247);
}
a{
  text-decoration: none;
  color: initial;
}
.cardContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap: 40px;
  padding: 50px;
}
.card{
  background-color: white;
  display: flex;
  box-shadow: 4px 4px 10px 4px rgb(221, 221, 221);
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.1s;
}
.card:hover{
  scale: 1.02;
}
.textCard{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}
.title{
  font-size: 24px;
  font-weight: bold;
}
.year{
  font-size: 12px;
  padding: 3px 10px;
  width: fit-content;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
}
.description{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.7;
}
img{
  height: 240px;
  object-fit: cover;
  width: 100%;
}

.individualCard{
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.individualTitle{
  font-size: 48px;
}
.individualYear{
  font-size: 16px;
  border: 1px solid black;
  padding: 3px 18px;
  border-radius: 10px;
}
.individualDesc{
  line-height: 1.7;
  width: 550px;
  font-size: 17px;
}
.individualImg{
  width: 550px;
  height: auto;
}